body {
    font-family: Roboto, sans-serif;
}

header, main, footer {
    max-width: 640px;
    text-align: center;    
    margin: 1rem auto;
    border: 1px solid #807676;
    padding: 1rem;
    background-color: #558fe6;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #ffffff;
}