:root {
    --azul: #0d1be0;
    --branco: #ffffff;
    --amarelo: #e7e40a;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

header {
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    color: var(--branco);
    background-color: var(--azul);
}

.dados {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #0f7eb9;
}

.clima {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #0f7eb9;
}

.dados h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    color: var(--azul);
}

.clima h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    color: var(--azul);
}

.hero {
    display:block
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

dl {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}

dl div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

dt {
    text-align: right;
    font-weight: bold;
}

dd {
    text-align: left;
}

footer {
    text-align: center;
    color: #f0ec08;
    background-color: var(--azul);
    padding: 1rem;
    font-weight: bold;
}

footer p {
    padding: 0.2rem;
}

/* visualizaçao para telas maiores */
@media screen and (min-width: 800px) {

    main {
        position: relative;
        overflow: hidden;
    }

    .hero img {
        width: 100%;
        min-height: 600px;
        max-height: 700px;
        object-fit: cover;
    }
    
    .dados {
        position: absolute;
        width: 350px;
        padding: 0 1rem 1.5rem;
        background-color: var(--branco);
        top: 2.5rem;
        left: 2rem;
    }

    .clima {
        position: absolute;
        width: 350px;
        padding: 0 1rem 1.5rem;
        background-color: var(--branco);
        right: 2rem;
        bottom: 2.5rem;
    }



    .dados h2 {
        position: relative;
        left: -2rem;
        top: 1rem;
        padding: 1rem;
        background-color: #0f6ba0;
        text-align: left;
        color: var(--branco);
        width: calc(100% + 1rem);
    }

    .clima h2 {
        position: relative;
        left: -2rem;
        top: 1rem;
        padding: 1rem;
        background-color: #0f6ba0;
        text-align: left;
        color: var(--branco);
        width: calc(100% + 1rem);
    }

    .clima h2::after {
        content: "⛅";
        margin-left: 1rem;
    }

    .icon-clima {
        display: none;
    }      
}

/* Ajuste para celulares pequenos */
@media screen and (max-width: 480px) {
    body {       
        padding: 0;
    }
        
    .dados {
        border-bottom: 1px solid #466170;
    }

    .clima {
        border-bottom: 1px solid #466170;
    }

    dl div {
        grid-template-columns: minmax(125px, 1fr) 1fr;
        gap: 0.5rem;
    }
    
}

