@media (min-width: 900px) {

    h1 {
        font-size: 2.5rem;
        margin-left: 10px;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigacao {
        flex-direction: row;
    }

    .navigacao a {
        display: block;
        flex: 1 1 100%;
        font-size: 1.7rem;
        padding: 10px;
    }

    .album {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 10px auto;
        padding: 10px;
    }
}