/* WDD 131 - Imagens Responsivas - S03 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

.principal img {
    width: 100%;
    height: auto;
    display: block;
}

/* Alternativa mais avançada se quiser preencher um contêiner fixo:
.principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.principal {
    aspect-ratio: 2 / 1;
}
*/